<%- include('partials/header.ejs') %>
<main class="mt-5 mb-5 container">
  <section id="album-main" class="d-flex flex-row">
    <div id="album-primary">
      <img
        src="<%= results.images[0].resource_url %>"
        class="img-fluid"
        height="500"
        width="500"
      />
      <div id="album-controls" class="text-center mt-3">
        <hr>
        <span id="collections" class="mx-3"></span>
        <span id="reviews" class="mx-3"></span>
        <hr>
      </div>
    </div>

    <section id="album-secondary" class="border mx-5 container-fluid">
      <div id="album-details">
        <table class="table">
          <tr>
            <td>Title: </td>
            <td><%= results.title%></td>
          </tr>
          <tr>
            <td>Artist: </td>
            <td><%= results.artists[0].name %></td>
          </tr>
          <tr>
            <td>Format: </td>
            <td><%= results.formats[0].name %></td>
          </tr>
          <tr>
            <td>Released: </td>
            <td><%= results.released %></td>
          </tr>
          <tr>
            <td>Lowest Price: </td>
            <td>$<%= results.lowest_price%></td>
          </tr>
        </table>
      </div>
      <div id="album-tracklist">
        <table class=table>
          <tr>
            <th>Track#</th>
            <th>Title</th>
            <th>Duration(min)</th>
          </tr>
        <% for (let i = 0; i < results.tracklist.length; i++) { %>
          <tr>
            <td><%= results.tracklist[i].position %></td>
            <td><%= results.tracklist[i].title %></td>
            <td><%= results.tracklist[i].duration %></td>
          </tr>
        <% } %>
        </table>
      </div>
    </section>
  </section>
</main>

<script type="module" src="/js/albumPage.js"></script>
<%- include('partials/footer.ejs') %>
