<%- include('partials/header.ejs') %>
<main class="mt-5 mb-5 container">
  <section id="album-main" class="d-flex flex-row">
    <div id="album-primary">
      <img
        src="<%= results.images[0].resource_url %>"
        class="img-fluid"
        height="300"
        width="300"
      />
      <div id="album-controls" class="text-center mt-3 d-flex flex-row">
        <hr />
        <span id="collections" class=""></span>
        <span id="wishlist" class="mx-3"></span>
        <a href="/review/<%= results.id %>">
          <button id="review" class="btn btn-primary">See Reviews</button>
        </a>
        <hr />
      </div>
    </div>

    <section id="album-secondary" class="mx-5 container-fluid">
      <div id="album-details" class="border mt-3">
        <h2>Album Details:</h2>
        <table class="table">
          <tr>
            <td><strong>Title</strong>:</td>
            <td><%= results.title%></td>
          </tr>
          <tr>
            <td><strong>Artist</strong>:</td>
            <td><%= results.artists[0].name %></td>
          </tr>
          <tr>
            <td><strong>Format</strong>:</td>
            <td><%= results.formats[0].name %></td>
          </tr>
          <tr>
            <td><strong>Released</strong>:</td>
            <td><%= results.released %></td>
          </tr>
          <tr>
            <td><strong>Lowest Price</strong>:</td>
            <td>$<%= results.lowest_price%></td>
          </tr>
        </table>
      </div>
      <div id="labels" class="border mt-3">
        <h2>Labels:</h2>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Catalogue Number</th>
          </tr>
          <% for (const[key, value] of Object.entries(results.labels)) { %>
          <tr>
            <td><%= value.name %></td>
            <td><%= value.catno %></td>
          </tr>
          <% } %>
        </table>
      </div>
      <div id="album-ids" class="border mt-3">
        <h2>Identifiers:</h2>
        <table class="table">
          <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Description</th>
          </tr>
          <% for (const[key,value] of Object.entries(results.identifiers)) { %>
          <tr>
            <td><%= value.type %></td>
            <td><%= value.value %></td>
            <td><%= value.description %></td>
          </tr>
          <% } %>
        </table>
      </div>
      <div id="album-tracklist" class="border mt-3">
        <h2>Tracklist:</h2>
        <table class="table">
          <tr>
            <th>Track#</th>
            <th>Title</th>
            <th>Duration(min)</th>
          </tr>
          <% for (let i = 0; i < results.tracklist.length; i++) { %>
          <tr>
            <td><%= results.tracklist[i].position %></td>
            <td><%= results.tracklist[i].title %></td>
            <td><%= results.tracklist[i].duration %></td>
          </tr>
          <% } %>
        </table>
      </div>
    </section>
  </section>
</main>

<script type="module" src="/js/albumPage.js"></script>
<%- include('partials/footer.ejs') %>
