<%- include('partials/header.ejs') %>

<main>
  <form class="container mt-5 mb-5 search-form" action="/search">
    <div class="search">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Search..."
        name="query"
        id="query"
      />
      <select id="search-select" class="form-select"  name="type">
        <option value="title">Search by...</option>
        <option value="title">Title</option>
        <option value="barcode">Barcode</option>
        <option value="catno">Catalogue Number</option>
      </select>
      <button class="btn btn-primary">Search</button>
    </div>
  </form>
  
  <section id="gallery" class="container">
    <div class="row row-cols-5 mb-5">
      <% for ( let i=0; i < results.length; i++) { %>
  
      <div class="col d-flex flex-column mt-3 text-center">
        <a href="/search/<%=results[i].id%>">
          <% if (results[i].thumb != "") { %>
          <img class="img-fluid" src="<%= results[i].thumb %>" width="150" height="150" />
          <% } else { %>
          <img class="img-fluid" src="https://via.placeholder.com/150" />
          <% } %>
        </a>
        <strong><%= results[i].title %></strong>
        <em><%= results[i].format %></em>
        <%= results[i].catno %>
      </div>
  
      <% } %>
    </div>
    <br>
    <br>
  </section>
</main>

<%- include('partials/footer.ejs') %>
